* {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
}

.heart3d {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 200px;
    height: 325px;
    transform-style: preserve-3d;
    animation: spin 15s infinite linear;
}

.heart3d div {
    position: absolute;
    opacity: 0;
    width: 200px;
    height: 325px;
    border: solid red 1px;
    border-radius: 50% 50% 0/40% 50% 0;
}

@keyframes spin {
    to {
        transform: rotateY(360deg) rotateX(360deg);
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}
